
modules = ["python-3.10", "nodejs-20", "web", "bash"]
run = "python server.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python server.py"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 12213644

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
